version: '3'

x-db-connection-strings: &db-connection-strings
  SQLALCHEMY_DATABASE_URI: postgresql://postgres:postgres@db/scan-files
  SQLALCHEMY_DATABASE_TEST_URI: postgresql://postgres:postgres@test-db/scan-files

x-api_envs: &api_envs
  API_AUTH_TOKEN: "123"
  AV_DEFINITION_PATH: /tmp/clamav
  AV_DEFINITION_S3_BUCKET: clamav-defs
  AWS_LOCALSTACK: "True"
  CLAMAVLIB_PATH: /etc/clamav
  CLAMDSCAN_PATH: /usr/bin/clamdscan
  FRESHCLAM_PATH: /usr/bin/freshclam
  LOG_LEVEL: "INFO"
  OPENAPI_URL: /openapi.json
  POWERTOOLS_SERVICE_NAME: scan-files

services:
  app:
    build: 
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        VARIANT: "3.13"
        INSTALL_NODE: "true"
        NODE_VERSION: "lts/*"
        SHELLCHECK_VERSION: "0.7.2"
        SHELLCHECK_CHECKSUM: "70423609f27b504d6c0c47e340f33652aea975e45f312324f2dbf91c95a3b188"
    volumes:
      - ..:/workspace:cached   
    command: sleep infinity
    environment:
      SHELL: /bin/zsh
      <<: [*db-connection-strings, *api_envs]
  api:
    build:
      context: ../api/
    volumes:
      - ../api:/function
      - ../api/clamav_defs:/tmp/clamav
    environment:
      <<: [*db-connection-strings, *api_envs]
    ports:
      - "8082:8080"

  db:
    image: postgres:14.20@sha256:da076311f78c56e4bf6548ef3668fa77fa2865c5efca3f79a6d6bb9b3710b477
    volumes:
    - ./initdb:/docker-entrypoint-initdb.d
    restart: unless-stopped
    command:
      - "postgres"
      - "-c"
      - "listen_addresses=*"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: scan-files
    expose:
      - "5434" 
    ports:
      - "5434:5432"
  
  test-db:
    image: postgres:14.20@sha256:da076311f78c56e4bf6548ef3668fa77fa2865c5efca3f79a6d6bb9b3710b477
    volumes:
    - ./initdb:/docker-entrypoint-initdb.d
    restart: unless-stopped
    command:
      - "postgres"
      - "-c"
      - "listen_addresses=*"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: scan-files

  localstack:
    image: localstack/localstack@sha256:a5bc2c9b0cb8824a9e6837034e258c59bd7bb4d470dca5d941c10a71a46dc7e1
    hostname: localstack
    volumes:
      - "./data:/tmp/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./scripts/init_localstack:/docker-entrypoint-initaws.d"
    ports:
      - 4566:4566
    environment:
      - SERVICES=s3,sns
      - DATA_DIR=/tmp/localstack/data
      - DOCKER_HOST=unix:///var/run/docker.sock`
      - DEBUG=1            