alembic==1.9.0
assemblyline-client==4.5.0
aws-lambda-powertools==2.5.0
boto3==1.26.34
fastapi==0.88.0
mangum==0.17.0
psycopg2-binary==2.9.5
python-multipart
setuptools==65.6.3  # Pin to fix CVE-2022-40897
SQLAlchemy==1.4.45
pytz==2022.7
filelock==3.8.2