name: Source code security scan using Bandit
on:
  pull_request:
    paths:
      - "**/*.py"

jobs:
  bandit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Bandit
      run: |
        .github/workflows/scripts/run_bandit_scan.sh



