name: Lint, format and test code
on:
  workflow_dispatch:
  pull_request:
    paths:
      - api/**
      - module/s3-scan-object/**
      - terragrunt/**
      - .github/workflows/ci_code.yml

env:
  TERRAGRUNT_VERSION: v0.31.1

jobs:

  tests:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:14.20@sha256:d508bf6220b5c7b7cd9c735d6abd5ea2e6e4e45882a29ed704f625aba32bd935
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: scan-files
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    strategy:
      fail-fast: false
      matrix:
          folder: ["api", "module/s3-scan-object", "terragrunt"]

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Check for changes
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            changes:
              - '${{ matrix.folder }}/**'
              - '.github/workflows/ci_code.yml'

      - name: Setup python
        if: ${{ steps.filter.outputs.changes == 'true' && matrix.folder != 'module/s3-scan-object' }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.14"

      - name: Setup node
        if: ${{ steps.filter.outputs.changes == 'true' && matrix.folder != 'terragrunt' }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "20"

      - name: Setup Terragrunt
        if: ${{ steps.filter.outputs.changes == 'true' && matrix.folder == 'terragrunt' }}
        run: |
          mkdir -p bin
          wget -O bin/terragrunt https://github.com/gruntwork-io/terragrunt/releases/download/$TERRAGRUNT_VERSION/terragrunt_linux_amd64
          chmod +x bin/*
          echo "$GITHUB_WORKSPACE/bin" >> $GITHUB_PATH

      - name: Install dev dependencies
        if: ${{ steps.filter.outputs.changes == 'true' }}
        working-directory: ${{ matrix.folder }}
        run: make install-dev

      - name: Install dependencies
        if: ${{ steps.filter.outputs.changes == 'true' }}
        working-directory: ${{ matrix.folder }}
        run: make install

      - name: Lint
        if: ${{ steps.filter.outputs.changes == 'true' }}
        working-directory: ${{ matrix.folder }}
        run: make lint-ci

      - name: Format
        if: ${{ steps.filter.outputs.changes == 'true' }}
        working-directory: ${{ matrix.folder }}
        run: make fmt-ci

      - name: Test
        if: ${{ steps.filter.outputs.changes == 'true' }}
        working-directory: ${{ matrix.folder }}
        env:
          SQLALCHEMY_DATABASE_URI: postgresql://postgres:postgres@127.0.0.1/scan-files
          SQLALCHEMY_DATABASE_TEST_URI: postgresql://postgres:postgres@127.0.0.1/scan-files
        run: make test
