name: "DAST vulnerability scan"

on:
  workflow_dispatch:
  workflow_run:
    workflows:
      - "Build, Push and Deploy to Staging"
      - "Deploy Lambda Docker images to production"   
    types:
      - completed

jobs:
  dast-vulnerability-scan:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - url: 'https://scan-files.alpha.canada.ca/docs'
          - url: 'https://scan-files.cdssandbox.xyz/docs'
    
    steps:
      - name: Run Dastardly
        uses: PortSwigger/dastardly-github-action@main
        with:
          target-url: '${{ matrix.url }}'

      - name: Publish report
        if: always()
        uses: mikepenz/action-junit-report@e08919a3b1fb83a78393dfb775a9c37f17d8eea6 # v6.0.1
        with:
          report_paths: '**/dastardly-report.xml'
          require_tests: true
